{% extends "layouts/base.html" %}
{% import "_figma_ui.html" as ui %}
{% block body_class %}figma-workspace figma-research yc-workspace yc-operations yc-research{% endblock %}
{% block extra_head %}{% endblock %}
{% block product_styles %}
  {% block feature_styles %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/product/foundation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/product/shell.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/product/operations.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/product/research.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/product/mobile-navigation.css') }}">
{% endblock %}
{% block content %}
{% set notif = none %}
{% set portal_blocks = self %}
{% include 'layouts/_product_shell.html' %}
{% endblock %}
{% block workspace_page_label %}{{ ui.page_heading(self.title()) }}{% endblock %}
{% block workspace_content_class %}{% endblock %}
{% block research_content %}{% endblock %}
{% block body_scripts %}<script src="{{ url_for('static', filename='js/mobile_navigation.js') }}" defer></script><script src="{{ url_for('static', filename='js/workspace.js') }}" defer></script><script src="{{ url_for('static', filename='js/figma_ui.js') }}" defer></script>{% endblock %}
